section#lectura1{
	text-align:center;
	width: 960px;
	margin: 0.27em auto;
	padding: 1em;
	justify-content: center;

}


section#lectura2, section#lectura3, section#lectura4, section#mauricio, section#hector{
	text-align: center;
	width: 960px;
	margin: 0.27em auto;
	padding: 1em;
	color: #3d40bd;
	justify-content: center;

 }


.arreglito{
	clear: both;
}

p{
	font-family:  Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: justify;
	word-spacing: 10px;
	color: black;

}

p, a, li {
	font-family:  Georgia, "Times New Roman", Times, serif;
	font-size: 27px;
	text-align: justify;
	word-spacing: 10px;
	color: black;
}

li.subtitulo{
font-size: 30px;
font-family: Georgia, "Times New Roman", Times, serif;
}

.imagenes{
	width: 45%;
	padding: 5px;
	border-radius: 15px;
	transition: all 0.4s ease;

}

.imgperfil{
	height: 250px;
	width: auto;
}


.imagenes:hover{
	transform: scale(1.02);
	border-radius: 30px;
}


*{
	background: white;
}

img{
	width: 300px
}

h2{
	text-align: center;
	color: black;
	font-size: 1.6em;
	width: 960px;
	height: auto;
	text-shadow: 2px 2px 2px #eaeaea;
	font-family: Georgia, "Times New Roman",Times, serif;
		background-color: #F0B429;
	clear:both;
	border-radius: 10px
}

h3{
	color: black;
	font-size: 1.6em;
	font-family: Georgia, "Times New Roman",Times, serif;
}