h3{
  font-family: Helvetica;
  text-align: left;

}

h4{
    display: flex;
   justify-content: center;
   align-items: center;
  font-size: 1.7em;
}

section#actividad1{
  text-align: center;
  width: 960px;
  padding: 0;
  margin: 0.2em auto;
}

section.pregunta, section#final{

  width: 945px;
  padding: 0.25em;
  margin: 0.2em;
  border-radius: 0.5em;
  background-color: white;
  font-family: Verdana;
}



section#final{
  text-align: center;
}
section#video{
  text-align: left;
}

section.p3{
  text-align: center;
  display: inline-flex;
}

.imgrta{
  height: 100px;
}

section#pr4{
  text-align: center;
}

p{
  text-align: left;
}
p#video{
  text-align: center;
}




section#izquierda{
background-color: green;
  width: 500px;

}

section#derecha{

  background-color: #F2F3F5;
  display: inline-block;
  margin: 0.25em auto;
  padding: 0;
  text-align: justify;
  width: 460
}

img.act3{
  width: 404px;
}

input.a3{
  WIDTH: 40px; 
  HEIGHT: 40px
  }

h5{
  font-size: 2em;
}

section.a3{
    display: flex;
   justify-content: left;
  align-items: left;
  width: 945px;
  padding: 0.25em;
  margin: 0.2em;
  border-radius: 0.5em;
  background-color: white;
  font-family: Verdana;
}