#encabezado{
	font-family: Segoe UI Black;
	font-size: 45px;
	text-align: center;
}


#logo{
	width: 230px;
	height: 50px;

}
#ecbti{
width: 230px;
	height: 50px;

}

h3{
	color: #0957F3;
	font-family: Verdana;
}
h4{
	font-family: Verdana;
	text-align: justify;
}
 
#contenedor{ 
    text-align: left; 
    margin: auto; 
    padding: 0;  	
} 


#Izquierdo{ 
    width: 300px; 
    height: 480px;
    float:left; 
    margin-right: 20px;
}  
#Derecho{ 
	border-radius: 15px;
    background-color: #F2F3F5;
    float: right;   
    width: 270px; 
    height: 480px;
    margin-left: 20px; 
    line-height: 19px;
} 
#principal{ 
    background-color: #0fF; 
  	margin: auto;
} 

#ContenedorMenu{
	
	height: 37px;
	background-color: #FAD22E;
	font-size: 2em;
}
			
			ul, ol {
				list-style:none;
				font-family: Constantia;
			}
			
			.navbar > li {
				float:left;
			}
			
			.navbar li a {
				background-color: #FAD22E;
				color: #0C40F3;
				padding:0px 10px;
				text-decoration:none;
				display:block;
			}
			
			.navbar li a:hover {
				background-color:#434343;
			}
			
			.navbar li ul {
				display:none;
				position:absolute;
				min-width:140px;
				
			}
			
			.navbar li:hover > ul {
				display:block;
			}